In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn import tree
from sklearn.model_selection import train_test_split
%matplotlib inline

In [6]:
dataset=pd.read_csv('predicting_cancer.csv')
dataset.shape

(699, 11)

In [7]:
dataset.head()

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,CancerType
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [8]:
dataset.columns

Index(['CodeNumber', 'ClumpThickness', 'UniformityCellSize',
       'UniformityCellShape', 'MarginalAdhesion', 'SingleEpithelialCellSize',
       'BareNuclei', 'BlandChromatin', 'NormalNucleoli', 'Mitoses',
       'CancerType'],
      dtype='object')

In [9]:
dataset.dtypes.sort_values(ascending=True)

CodeNumber                   int64
ClumpThickness               int64
UniformityCellSize           int64
UniformityCellShape          int64
MarginalAdhesion             int64
SingleEpithelialCellSize     int64
BlandChromatin               int64
NormalNucleoli               int64
Mitoses                      int64
CancerType                   int64
BareNuclei                  object
dtype: object

In [10]:
dataset['BareNuclei'].unique()
dataset['BareNuclei'].describe()

count     699
unique     11
top         1
freq      402
Name: BareNuclei, dtype: object

In [11]:
dataset['BareNuclei'].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: BareNuclei, dtype: int64

In [12]:
dataset=dataset[dataset['BareNuclei']!= '?']#this col has a object called '?' so to remove this

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
x=dataset.drop('CancerType',axis=1)#x is i/p features as we drop the target col
y=dataset['CancerType']#y is o/p as here only the target col
validation_size=0.2
seed=7
x_train, X_test, y_train, Y_test = train_test_split(x, y, test_size=validation_size, random_state=seed)

In [20]:
x_train.head(10)

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses
445,827627,2,1,1,1,2,1,1,1,1
456,1257470,10,6,5,8,5,10,8,6,1
602,1350568,4,1,1,1,2,1,2,1,1
295,606722,5,5,7,8,6,10,7,4,1
236,1241559,10,8,8,2,8,10,4,8,10
110,1171795,1,3,1,2,2,2,5,3,2
215,1222936,8,7,8,7,5,5,5,10,2
357,859350,8,10,10,7,10,10,7,3,8
3,1016277,6,8,8,1,3,4,3,7,1
583,1115762,3,1,1,1,2,1,1,1,1

In [21]:
clf=RandomForestClassifier()
clf=clf.fit(x_train,y_train)

In [22]:
predictions=(clf.predict(X_test))
predictions

array([4, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4,
       4, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 2, 2,
       4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2,
       4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2,
       4, 2, 4, 4, 4], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report
print(accuracy_score(Y_test,predictions))

0.9854014598540146