In [15]:
a=[1,2,3,4,5]#list
print(a)
str=['ram','shyam','ravi','gopal','ali']#list
print(str)
print(str[2])#2nd index
str[2]='hari'#replace content#replace
print(str)
str.append(8)#it ll append on last
print(str)
str.insert(2,'rahim')#change the content of position#insert
print(str)
str.remove('ram')#to remove a string
print(str)
del str[4]#delete from 4th position
print(str)
print(str[0:4])#slicing 0 to n-1

[1, 2, 3, 4, 5]
['ram', 'shyam', 'ravi', 'gopal', 'ali']
ravi
['ram', 'shyam', 'hari', 'gopal', 'ali']
['ram', 'shyam', 'hari', 'gopal', 'ali', 8]
['ram', 'shyam', 'rahim', 'hari', 'gopal', 'ali', 8]
['shyam', 'rahim', 'hari', 'gopal', 'ali', 8]
['shyam', 'rahim', 'hari', 'gopal', 8]
['shyam', 'rahim', 'hari', 'gopal']

In [20]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[a,b]#list with in a list
print(c)
d=a+b#merge 2 list
print(d)
print(len(c))#2lists
print(len(d))#8elements

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]
2
8
[1, 2, 3, 4]

In [22]:
str=['ram','shyam','ravi','gopal','ali']
str.sort()#alphabetically
print(str)
str.reverse()#reverse alphabetical order
print(str)

['ali', 'gopal', 'ram', 'ravi', 'shyam']
['shyam', 'ravi', 'ram', 'gopal', 'ali']

In [26]:
str=['ram','shyam','ravi','gopal','ali']
str1=['ram','shyam','ravan']
print(max(str))
print(min(str))
c=str+str1
s=[str,str1]
print(max(c))
print(min(c))
print(max(s))#compare 1st letter of each woed
print(min(s))

shyam
ali
shyam
ali
['ram', 'shyam', 'ravi', 'gopal', 'ali']
['ram', 'shyam', 'ravan']

In [32]:
#tuples#tuples#tuples
a=(1,2,3,4)
b=(5,6,7,8)
s=[7,2,6,1]#list
print(max(a))
print(min(a))
print(len(a))
#a.append(6)#immutable so give error#unchangable
c=(a+b)
print(c)
#k=a+s will show error bcoz list+tuple cant be concatenated
l=tuple(s)#list to tuple converter
k=a+l
print(k)
f=list(a)#tuple to list converter

4
1
4
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 7, 2, 6, 1)

In [37]:
#dictionary #dictionary #dictionary
mydic={1:'ram',2:'hari',3:'rahim'}#key:value
print(mydic)
mydic[4]='gopal'#append at 4th position
print(mydic)
mydic[1]='sat'#change 1st position value
print(mydic)
print(mydic.get(2))#to get 2nd key value
print(mydic.keys())#show keys
print(mydic.values())#only values

{1: 'ram', 2: 'hari', 3: 'rahim'}
{1: 'ram', 2: 'hari', 3: 'rahim', 4: 'gopal'}
{1: 'sat', 2: 'hari', 3: 'rahim', 4: 'gopal'}
hari
dict_keys([1, 2, 3, 4])
dict_values(['sat', 'hari', 'rahim', 'gopal'])