In [3]:
a=16
if a>=17:
    print("i am 18")
elif a==16:
      print("i am 16")
else:
    print("i am robot")
    
    
b=16
if (b>=17 and b<=5):
    print("i am 18")
elif not b==16:
      print("i am 16")
else:
    print("i am robot")

i am 16
i am robot

In [6]:
a=2
#b=a++
#print(b) #it ll show syntax error. in python it doesnt work

In [7]:
#Nested if #Nested if
a=50
if(a>40):
    print("inside if")
    if(a==50):
        print("inside if of if")
    else:
         print("inside else of if")
else:
     print("inside else")

inside if
inside if of if

In [16]:
for x in range(0,20): # it ll print 0 to 19 in a col
#     print(x)
    print(x,end=' ')#it ll print in a single row

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [17]:
#while #while
a=0
while(a<=20):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [20]:
p=[[1,2,3],[4,5,6],[7,8,9]]
for x in range(0,3):
    print()# print new line
    for y in range(0,3):
        print(p[x][y],end=" ")

1 2 3
4 5 6
7 8 9

In [23]:
name=input("enter name:\n")
print("hello "+name)

enter name:
sat
hello sat